서울시 버스노선별 정류장별 승하차 인원 정보

In [1]:
import pandas as pd
import numpy as np

2019년

In [2]:
df19_1 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_201901.csv", encoding='cp949')
df19_2 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_201902.csv", encoding='cp949')
df19_3 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_201903.csv", encoding='cp949')
df19_4 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_201904.csv", encoding='cp949')
df19_5 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_201905.csv", encoding='cp949')
df19_6 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_201906.csv", encoding='cp949')
df19_7 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_201907.csv", encoding='cp949')
df19_8 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_201908.csv", encoding='cp949')
df19_9 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_201909.csv", encoding='cp949')
df19_10 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_201910.csv", encoding='cp949')
df19_11 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_201911.csv", encoding='cp949')
df19_12 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_201912.csv", encoding='cp949')

bus19 = pd.concat([df19_1, df19_2, df19_3, df19_4, df19_5, df19_6, df19_7, df19_8, df19_9, df19_10, df19_11, df19_12])
bus19.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20190101,100,100번(하계동~용산구청),11428,한성여객종점,10,0,20190104
1,20190101,100,100번(하계동~용산구청),11387,노원평생학습관,5,0,20190104
2,20190101,100,100번(하계동~용산구청),11373,중계역,27,1,20190104
3,20190101,100,100번(하계동~용산구청),11381,중계목화아파트4단지,110,12,20190104
4,20190101,100,100번(하계동~용산구청),11311,인덕대학,87,76,20190104

In [3]:
# 자치구 데이터 불러오기
df_excel = pd.read_excel("./자치구정류장코드분류.xlsx", dtype=str)
df_excel.head()

   자치구 버스정류장ARS번호 정류장ID(앞3자리)
0  종로구         01         100
1   중구         02         101
2  용산구         03         102
3  성동구         04         103
4  광진구         05         104

In [4]:
bus19['앞2자리'] = bus19['버스정류장ARS번호'].astype(str).str[:2]
bus19.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,앞2자리
0,20190101,100,100번(하계동~용산구청),11428,한성여객종점,10,0,20190104,11
1,20190101,100,100번(하계동~용산구청),11387,노원평생학습관,5,0,20190104,11
2,20190101,100,100번(하계동~용산구청),11373,중계역,27,1,20190104,11
3,20190101,100,100번(하계동~용산구청),11381,중계목화아파트4단지,110,12,20190104,11
4,20190101,100,100번(하계동~용산구청),11311,인덕대학,87,76,20190104,11

In [5]:
df_excel['앞2자리'] = df_excel['버스정류장ARS번호'].astype(str).str[:2]
df_excel.head()

   자치구 버스정류장ARS번호 정류장ID(앞3자리) 앞2자리
0  종로구         01         100   01
1   중구         02         101   02
2  용산구         03         102   03
3  성동구         04         103   04
4  광진구         05         104   05

In [6]:
# 두 데이터프레임을 '앞2자리' 컬럼을 기준으로 합침
merged_bus19 = pd.merge(bus19, df_excel, on='앞2자리')
merged_bus19.head()

,사용일자,노선번호,노선명,버스정류장ARS번호_x,역명,승차총승객수,하차총승객수,등록일자,앞2자리,자치구,버스정류장ARS번호_y,정류장ID(앞3자리)
0,20190101,100,100번(하계동~용산구청),11428,한성여객종점,10,0,20190104,11,노원구,11,110
1,20190101,100,100번(하계동~용산구청),11387,노원평생학습관,5,0,20190104,11,노원구,11,110
2,20190101,100,100번(하계동~용산구청),11373,중계역,27,1,20190104,11,노원구,11,110
3,20190101,100,100번(하계동~용산구청),11381,중계목화아파트4단지,110,12,20190104,11,노원구,11,110
4,20190101,100,100번(하계동~용산구청),11311,인덕대학,87,76,20190104,11,노원구,11,110

In [7]:
merged_bus19.drop(columns=['등록일자', '앞2자리', '버스정류장ARS번호_y', '정류장ID(앞3자리)'], inplace=True)
merged_bus19.head()

       사용일자 노선번호             노선명 버스정류장ARS번호_x          역명  승차총승객수  하차총승객수  자치구
0  20190101  100  100번(하계동~용산구청)        11428      한성여객종점      10       0  노원구
1  20190101  100  100번(하계동~용산구청)        11387     노원평생학습관       5       0  노원구
2  20190101  100  100번(하계동~용산구청)        11373         중계역      27       1  노원구
3  20190101  100  100번(하계동~용산구청)        11381  중계목화아파트4단지     110      12  노원구
4  20190101  100  100번(하계동~용산구청)        11311        인덕대학      87      76  노원구

In [8]:
# 컬럼명 변경
merged_bus19.rename(columns={'버스정류장ARS번호_x':'버스정류장ARS번호'}, inplace=True)
merged_bus19.head()

       사용일자 노선번호             노선명 버스정류장ARS번호          역명  승차총승객수  하차총승객수  자치구
0  20190101  100  100번(하계동~용산구청)      11428      한성여객종점      10       0  노원구
1  20190101  100  100번(하계동~용산구청)      11387     노원평생학습관       5       0  노원구
2  20190101  100  100번(하계동~용산구청)      11373         중계역      27       1  노원구
3  20190101  100  100번(하계동~용산구청)      11381  중계목화아파트4단지     110      12  노원구
4  20190101  100  100번(하계동~용산구청)      11311        인덕대학      87      76  노원구

In [32]:
merged_bus19.to_csv("2019 bus_seoul.csv", index=False)

2020년

In [13]:
df20_1 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202001.csv", encoding='cp949')
df20_2 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202002.csv", encoding='cp949')
df20_3 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202003.csv", encoding='cp949')
df20_4 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202004.csv", encoding='cp949')
df20_5 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202005.csv", encoding='cp949')
df20_6 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202006.csv", encoding='cp949', low_memory=False)
df20_7 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202007.csv", encoding='cp949')
df20_8 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202008.csv", encoding='cp949')
df20_9 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202009.csv", encoding='cp949')
df20_10 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202010.csv", encoding='cp949')
df20_11 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202011.csv", encoding='cp949')
df20_12 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202012.csv", encoding='cp949')

bus20 = pd.concat([df20_1, df20_2, df20_3, df20_4, df20_5, df20_6, df20_7, df20_8, df20_9, df20_10, df20_11, df20_12])
bus20.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,stnd_bsst_id,use_dt,bus_route_no,bus_route_nm,bsst_ars_no,bus_sta_nm,ride_pasgr_num,alight_pasgr_num,work_dt
0,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04133,왕십리역,0.0,13.0,20200104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04136,행당1동주민센터.성동소방서,2.0,3.0,20200104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04186,성동교남단,0.0,2.0,20200104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04256,성수사거리,0.0,3.0,20200104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20200101.0,N62,N62번(양천공영차고지~면목동차고지),05115,국립서울병원앞,1.0,0.0,20200104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
bus20['앞2자리'] = bus20['버스정류장ARS번호'].astype(str).str[:2]
bus20.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,stnd_bsst_id,use_dt,bus_route_no,bus_route_nm,bsst_ars_no,bus_sta_nm,ride_pasgr_num,alight_pasgr_num,work_dt,앞2자리
0,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04133,왕십리역,0.0,13.0,20200104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04
1,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04136,행당1동주민센터.성동소방서,2.0,3.0,20200104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04
2,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04186,성동교남단,0.0,2.0,20200104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04
3,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04256,성수사거리,0.0,3.0,20200104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04
4,20200101.0,N62,N62번(양천공영차고지~면목동차고지),05115,국립서울병원앞,1.0,0.0,20200104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05

In [15]:
# 두 데이터프레임을 '앞2자리' 컬럼을 기준으로 합침
merged_bus20 = pd.merge(bus20, df_excel, on='앞2자리')
merged_bus20.head()

,사용일자,노선번호,노선명,버스정류장ARS번호_x,역명,승차총승객수,하차총승객수,등록일자,stnd_bsst_id,use_dt,...,bus_route_nm,bsst_ars_no,bus_sta_nm,ride_pasgr_num,alight_pasgr_num,work_dt,앞2자리,자치구,버스정류장ARS번호_y,정류장ID(앞3자리)
0,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04133,왕십리역,0.0,13.0,20200104.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,04,성동구,04,103
1,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04136,행당1동주민센터.성동소방서,2.0,3.0,20200104.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,04,성동구,04,103
2,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04186,성동교남단,0.0,2.0,20200104.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,04,성동구,04,103
3,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04256,성수사거리,0.0,3.0,20200104.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,04,성동구,04,103
4,20200101.0,N62,N62번(양천공영차고지~면목동차고지),05115,국립서울병원앞,1.0,0.0,20200104.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,05,광진구,05,104

In [16]:
merged_bus20.drop(columns=['등록일자', '앞2자리', '버스정류장ARS번호_y', '정류장ID(앞3자리)', 'stnd_bsst_id', 'use_dt', 'bus_route_no', 'bus_route_nm',
                           'bsst_ars_no', 'bus_sta_nm', 'ride_pasgr_num', 'alight_pasgr_num', 'work_dt'], inplace=True)
merged_bus20.head()

,사용일자,노선번호,노선명,버스정류장ARS번호_x,역명,승차총승객수,하차총승객수,자치구
0,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04133,왕십리역,0.0,13.0,성동구
1,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04136,행당1동주민센터.성동소방서,2.0,3.0,성동구
2,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04186,성동교남단,0.0,2.0,성동구
3,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04256,성수사거리,0.0,3.0,성동구
4,20200101.0,N62,N62번(양천공영차고지~면목동차고지),05115,국립서울병원앞,1.0,0.0,광진구

In [17]:
# 실수형(float) -> 정수형(int)
merged_bus20[['승차총승객수', '하차총승객수']] = merged_bus20[['승차총승객수', '하차총승객수']].astype(int)
merged_bus20.head()

,사용일자,노선번호,노선명,버스정류장ARS번호_x,역명,승차총승객수,하차총승객수,자치구
0,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04133,왕십리역,0,13,성동구
1,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04136,행당1동주민센터.성동소방서,2,3,성동구
2,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04186,성동교남단,0,2,성동구
3,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04256,성수사거리,0,3,성동구
4,20200101.0,N62,N62번(양천공영차고지~면목동차고지),05115,국립서울병원앞,1,0,광진구

In [18]:
# 컬럼명 변경
merged_bus20.rename(columns={'버스정류장ARS번호_x':'버스정류장ARS번호'}, inplace=True)
merged_bus20.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,자치구
0,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04133,왕십리역,0,13,성동구
1,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04136,행당1동주민센터.성동소방서,2,3,성동구
2,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04186,성동교남단,0,2,성동구
3,20200101.0,N62,N62번(양천공영차고지~면목동차고지),04256,성수사거리,0,3,성동구
4,20200101.0,N62,N62번(양천공영차고지~면목동차고지),05115,국립서울병원앞,1,0,광진구

In [34]:
merged_bus20.to_csv("./2020 bus_seoul.csv", index=False)

2021년

In [35]:
df21_1 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202101.csv", encoding='cp949')
df21_2 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202102.csv", encoding='cp949')
df21_3 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202103.csv", encoding='cp949')
df21_4 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202104.csv", encoding='cp949')
df21_5 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202105.csv", encoding='cp949')
df21_6 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202106.csv", encoding='cp949')
df21_7 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202107.csv", encoding='cp949')
df21_8 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202108.csv", encoding='cp949')
df21_9 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202109.csv", encoding='cp949')
df21_10 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202110.csv", encoding='cp949')
df21_11 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202111.csv", encoding='cp949')
df21_12 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202112.csv", encoding='cp949')

bus21 = pd.concat([df21_1, df21_2, df21_3, df21_4, df21_5, df21_6, df21_7, df21_8, df21_9, df21_10, df21_11, df21_12])
bus21.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20210101,100,100번(하계동~용산구청),11428,한성여객종점,12,0,20210104
1,20210101,100,100번(하계동~용산구청),11374,서울시립북서울미술관,8,0,20210104
2,20210101,100,100번(하계동~용산구청),11380,목련아파트상가,86,14,20210104
3,20210101,100,100번(하계동~용산구청),11339,월계헬스케어센터,112,44,20210104
4,20210101,100,100번(하계동~용산구청),01002,창경궁.서울대학교병원,21,23,20210104

In [36]:
bus21['앞2자리'] = bus21['버스정류장ARS번호'].astype(str).str[:2]
bus21.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,앞2자리
0,20210101,100,100번(하계동~용산구청),11428,한성여객종점,12,0,20210104,11
1,20210101,100,100번(하계동~용산구청),11374,서울시립북서울미술관,8,0,20210104,11
2,20210101,100,100번(하계동~용산구청),11380,목련아파트상가,86,14,20210104,11
3,20210101,100,100번(하계동~용산구청),11339,월계헬스케어센터,112,44,20210104,11
4,20210101,100,100번(하계동~용산구청),01002,창경궁.서울대학교병원,21,23,20210104,01

In [37]:
# 두 데이터프레임을 '앞2자리' 컬럼을 기준으로 합침
merged_bus21 = pd.merge(bus21, df_excel, on='앞2자리')
merged_bus21.head()

,사용일자,노선번호,노선명,버스정류장ARS번호_x,역명,승차총승객수,하차총승객수,등록일자,앞2자리,자치구,버스정류장ARS번호_y,정류장ID(앞3자리)
0,20210101,100,100번(하계동~용산구청),11428,한성여객종점,12,0,20210104,11,노원구,11,110
1,20210101,100,100번(하계동~용산구청),11374,서울시립북서울미술관,8,0,20210104,11,노원구,11,110
2,20210101,100,100번(하계동~용산구청),11380,목련아파트상가,86,14,20210104,11,노원구,11,110
3,20210101,100,100번(하계동~용산구청),11339,월계헬스케어센터,112,44,20210104,11,노원구,11,110
4,20210101,100,100번(하계동~용산구청),01002,창경궁.서울대학교병원,21,23,20210104,01,종로구,01,100

In [38]:
merged_bus21.drop(columns=['등록일자', '앞2자리', '버스정류장ARS번호_y', '정류장ID(앞3자리)'], inplace=True)
merged_bus21.head()

,사용일자,노선번호,노선명,버스정류장ARS번호_x,역명,승차총승객수,하차총승객수,자치구
0,20210101,100,100번(하계동~용산구청),11428,한성여객종점,12,0,노원구
1,20210101,100,100번(하계동~용산구청),11374,서울시립북서울미술관,8,0,노원구
2,20210101,100,100번(하계동~용산구청),11380,목련아파트상가,86,14,노원구
3,20210101,100,100번(하계동~용산구청),11339,월계헬스케어센터,112,44,노원구
4,20210101,100,100번(하계동~용산구청),01002,창경궁.서울대학교병원,21,23,종로구

In [39]:
# 컬럼명 변경
merged_bus21.rename(columns={'버스정류장ARS번호_x':'버스정류장ARS번호'}, inplace=True)
merged_bus21.head()

       사용일자 노선번호             노선명 버스정류장ARS번호           역명  승차총승객수  하차총승객수  자치구
0  20210101  100  100번(하계동~용산구청)      11428       한성여객종점      12       0  노원구
1  20210101  100  100번(하계동~용산구청)      11374   서울시립북서울미술관       8       0  노원구
2  20210101  100  100번(하계동~용산구청)      11380      목련아파트상가      86      14  노원구
3  20210101  100  100번(하계동~용산구청)      11339     월계헬스케어센터     112      44  노원구
4  20210101  100  100번(하계동~용산구청)      01002  창경궁.서울대학교병원      21      23  종로구

In [40]:
merged_bus21.to_csv("./2021 bus_seoul.csv", index=False)

2022년

In [41]:
df22_1 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202201.csv", encoding='cp949')
df22_2 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202202.csv", encoding='cp949')
df22_3 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202203.csv", encoding='cp949')
df22_4 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202204.csv", encoding='cp949')
df22_5 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202205.csv", encoding='cp949')
df22_6 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202206.csv", encoding='cp949')
df22_7 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202207.csv", encoding='cp949')
df22_8 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202208.csv", encoding='cp949')
df22_9 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202209.csv", encoding='cp949')
df22_10 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202210.csv", encoding='cp949')
df22_11 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202211.csv", encoding='cp949')
df22_12 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202212.csv", encoding='cp949')

bus22 = pd.concat([df22_1, df22_2, df22_3, df22_4, df22_5, df22_6, df22_7, df22_8, df22_9, df22_10, df22_11, df22_12])
bus22.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,표준버스정류장ID
0,20220101,273,273번(중랑차고지~동교동),07550,중랑공영차고지.신내역,1,28,20220104,NaN
1,20220101,1165,1165번(화계사~미아삼거리역),09291,화계사입구.종점,19,39,20220104,NaN
2,20220101,1165,1165번(화계사~미아삼거리역),09131,우이초등학교후문,53,0,20220104,NaN
3,20220101,1165,1165번(화계사~미아삼거리역),09113,국립419묘지삼거리.윤극영가옥,79,18,20220104,NaN
4,20220101,1165,1165번(화계사~미아삼거리역),09144,신일병원,95,33,20220104,NaN

In [42]:
bus22['앞2자리'] = bus22['버스정류장ARS번호'].astype(str).str[:2]
bus22.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,표준버스정류장ID,앞2자리
0,20220101,273,273번(중랑차고지~동교동),07550,중랑공영차고지.신내역,1,28,20220104,NaN,07
1,20220101,1165,1165번(화계사~미아삼거리역),09291,화계사입구.종점,19,39,20220104,NaN,09
2,20220101,1165,1165번(화계사~미아삼거리역),09131,우이초등학교후문,53,0,20220104,NaN,09
3,20220101,1165,1165번(화계사~미아삼거리역),09113,국립419묘지삼거리.윤극영가옥,79,18,20220104,NaN,09
4,20220101,1165,1165번(화계사~미아삼거리역),09144,신일병원,95,33,20220104,NaN,09

In [43]:
# 두 데이터프레임을 '앞2자리' 컬럼을 기준으로 합침
merged_bus22 = pd.merge(bus22, df_excel, on='앞2자리')
merged_bus22.head()

,사용일자,노선번호,노선명,버스정류장ARS번호_x,역명,승차총승객수,하차총승객수,등록일자,표준버스정류장ID,앞2자리,자치구,버스정류장ARS번호_y,정류장ID(앞3자리)
0,20220101,273,273번(중랑차고지~동교동),07550,중랑공영차고지.신내역,1,28,20220104,NaN,07,중랑구,07,106
1,20220101,1165,1165번(화계사~미아삼거리역),09291,화계사입구.종점,19,39,20220104,NaN,09,강북구,09,108
2,20220101,1165,1165번(화계사~미아삼거리역),09131,우이초등학교후문,53,0,20220104,NaN,09,강북구,09,108
3,20220101,1165,1165번(화계사~미아삼거리역),09113,국립419묘지삼거리.윤극영가옥,79,18,20220104,NaN,09,강북구,09,108
4,20220101,1165,1165번(화계사~미아삼거리역),09144,신일병원,95,33,20220104,NaN,09,강북구,09,108

In [44]:
merged_bus22.drop(columns=['등록일자', '앞2자리', '버스정류장ARS번호_y', '정류장ID(앞3자리)'], inplace=True)
merged_bus22.head()

,사용일자,노선번호,노선명,버스정류장ARS번호_x,역명,승차총승객수,하차총승객수,표준버스정류장ID,자치구
0,20220101,273,273번(중랑차고지~동교동),07550,중랑공영차고지.신내역,1,28,NaN,중랑구
1,20220101,1165,1165번(화계사~미아삼거리역),09291,화계사입구.종점,19,39,NaN,강북구
2,20220101,1165,1165번(화계사~미아삼거리역),09131,우이초등학교후문,53,0,NaN,강북구
3,20220101,1165,1165번(화계사~미아삼거리역),09113,국립419묘지삼거리.윤극영가옥,79,18,NaN,강북구
4,20220101,1165,1165번(화계사~미아삼거리역),09144,신일병원,95,33,NaN,강북구

In [45]:
merged_bus22.to_csv("./2022 bus_seoul.csv", index=False)

2023년

In [79]:
df23_1 = pd.read_csv("BUS_STATION_BOARDING_MONTH_202301.csv", encoding='cp949', low_memory=False)
df23_2 = pd.read_csv("BUS_STATION_BOARDING_MONTH_202302.csv", encoding='cp949', low_memory=False)
df23_3 = pd.read_csv("BUS_STATION_BOARDING_MONTH_202303.csv", encoding='cp949', low_memory=False)
df23_4 = pd.read_csv("BUS_STATION_BOARDING_MONTH_202304.csv", encoding='cp949', low_memory=False)
df23_5 = pd.read_csv("BUS_STATION_BOARDING_MONTH_202305.csv", encoding='cp949', low_memory=False)
df23_6 = pd.read_csv("BUS_STATION_BOARDING_MONTH_202306.csv", encoding='cp949', low_memory=False)
df23_7 = pd.read_csv("BUS_STATION_BOARDING_MONTH_202307.csv", encoding='cp949', low_memory=False)
df23_8 = pd.read_csv("BUS_STATION_BOARDING_MONTH_202308.csv", encoding='cp949', low_memory=False)
df23_9 = pd.read_csv("BUS_STATION_BOARDING_MONTH_202309.csv", encoding='cp949', low_memory=False)
df23_10 = pd.read_csv("BUS_STATION_BOARDING_MONTH_202310.csv", encoding='cp949', low_memory=False)
df23_11 = pd.read_csv("BUS_STATION_BOARDING_MONTH_202311.csv", encoding='cp949', low_memory=False)
df23_12 = pd.read_csv("BUS_STATION_BOARDING_MONTH_202312.csv", encoding='cp949', low_memory=False)

df23_1.head()

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20230101,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원(00031),33,47,20230104
1,20230101,9401,9401번(구미동~서울역),206000321,47024,샛별마을.우방아파트(00015),76,1,20230104
2,20230101,9401,9401번(구미동~서울역),206000320,47022,중앙공원.샛별마을.라이프아파트(00016),55,8,20230104
3,20230101,9401,9401번(구미동~서울역),206000319,47054,효자촌(00017),363,21,20230104
4,20230101,9401,9401번(구미동~서울역),206000318,47065,서현중학교(00018),133,25,20230104

In [81]:
# 2023년 데이터프레임 합치기
bus23 = pd.concat([df23_1, df23_2, df23_3, df23_4, df23_5, df23_6, df23_7, df23_8, df23_9, df23_10, df23_11, df23_12], ignore_index=True)
bus23.head()

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20230101,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원(00031),33.0,47.0,20230104.0
1,20230101,9401,9401번(구미동~서울역),206000321,47024,샛별마을.우방아파트(00015),76.0,1.0,20230104.0
2,20230101,9401,9401번(구미동~서울역),206000320,47022,중앙공원.샛별마을.라이프아파트(00016),55.0,8.0,20230104.0
3,20230101,9401,9401번(구미동~서울역),206000319,47054,효자촌(00017),363.0,21.0,20230104.0
4,20230101,9401,9401번(구미동~서울역),206000318,47065,서현중학교(00018),133.0,25.0,20230104.0

In [82]:
bus23['앞2자리'] = bus23['버스정류장ARS번호'].astype(str).str[:2]
bus23.head()

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,앞2자리
0,20230101,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원(00031),33.0,47.0,20230104.0,01
1,20230101,9401,9401번(구미동~서울역),206000321,47024,샛별마을.우방아파트(00015),76.0,1.0,20230104.0,47
2,20230101,9401,9401번(구미동~서울역),206000320,47022,중앙공원.샛별마을.라이프아파트(00016),55.0,8.0,20230104.0,47
3,20230101,9401,9401번(구미동~서울역),206000319,47054,효자촌(00017),363.0,21.0,20230104.0,47
4,20230101,9401,9401번(구미동~서울역),206000318,47065,서현중학교(00018),133.0,25.0,20230104.0,47

In [83]:
# 자치구 데이터 불러오기
df_excel = pd.read_excel("./자치구정류장코드분류.xlsx", dtype=str)
df_excel.head()

   자치구 버스정류장ARS번호 정류장ID(앞3자리)
0  종로구         01         100
1   중구         02         101
2  용산구         03         102
3  성동구         04         103
4  광진구         05         104

In [84]:
df_excel['앞2자리'] = df_excel['버스정류장ARS번호'].astype(str).str[:2]
df_excel.head()

   자치구 버스정류장ARS번호 정류장ID(앞3자리) 앞2자리
0  종로구         01         100   01
1   중구         02         101   02
2  용산구         03         102   03
3  성동구         04         103   04
4  광진구         05         104   05

In [85]:
# 두 데이터프레임을 '앞2자리' 컬럼을 기준으로 합침
merged_bus23 = pd.merge(bus23, df_excel, on='앞2자리')
merged_bus23.head()

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호_x,역명,승차총승객수,하차총승객수,등록일자,앞2자리,자치구,버스정류장ARS번호_y,정류장ID(앞3자리)
0,20230101,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원(00031),33.0,47.0,20230104.0,01,종로구,01,100
1,20230101,9401,9401번(구미동~서울역),102000308,23850,한남대교(가상)(00028),0.0,17.0,20230104.0,23,강남구,23,122
2,20230101,9401,9401번(구미동~서울역),102000070,03164,순천향대학병원(00039),586.0,36.0,20230104.0,03,용산구,03,102
3,20230101,9401,9401번(구미동~서울역),102000069,03163,순천향대학병원(00029),43.0,489.0,20230104.0,03,용산구,03,102
4,20230101,9401,9401번(구미동~서울역),101000148,02253,명동입구(00037),412.0,55.0,20230104.0,02,중구,02,101

In [87]:
merged_bus23.drop(columns=['등록일자', '앞2자리', '버스정류장ARS번호_y', '정류장ID(앞3자리)'], inplace=True)
merged_bus23.head()

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호_x,역명,승차총승객수,하차총승객수,자치구
0,20230101,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원(00031),33.0,47.0,종로구
1,20230101,9401,9401번(구미동~서울역),102000308,23850,한남대교(가상)(00028),0.0,17.0,강남구
2,20230101,9401,9401번(구미동~서울역),102000070,03164,순천향대학병원(00039),586.0,36.0,용산구
3,20230101,9401,9401번(구미동~서울역),102000069,03163,순천향대학병원(00029),43.0,489.0,용산구
4,20230101,9401,9401번(구미동~서울역),101000148,02253,명동입구(00037),412.0,55.0,중구

In [88]:
# 컬럼명 변경
merged_bus23.rename(columns={'버스정류장ARS번호_x':'버스정류장ARS번호'}, inplace=True)
merged_bus23.head()

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,승차총승객수,하차총승객수,자치구
0,20230101,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원(00031),33.0,47.0,종로구
1,20230101,9401,9401번(구미동~서울역),102000308,23850,한남대교(가상)(00028),0.0,17.0,강남구
2,20230101,9401,9401번(구미동~서울역),102000070,03164,순천향대학병원(00039),586.0,36.0,용산구
3,20230101,9401,9401번(구미동~서울역),102000069,03163,순천향대학병원(00029),43.0,489.0,용산구
4,20230101,9401,9401번(구미동~서울역),101000148,02253,명동입구(00037),412.0,55.0,중구

In [89]:
merged_bus23.to_csv("./2023 bus_seoul.csv", index=False)

In [59]:
# 데이터 불러오기
df1 = pd.read_csv("./2019 bus_seoul.csv")
df2 = pd.read_csv("./2020 bus_seoul.csv")
df3 = pd.read_csv("./2021 bus_seoul.csv")
df4 = pd.read_csv("./2022 bus_seoul.csv")
df5 = pd.read_csv("./2023 bus_seoul.csv")

In [60]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12604703 entries, 0 to 12604702
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   사용일자        int64
 1   노선번호        object
 2   노선명         object
 3   버스정류장ARS번호  int64
 4   역명          object
 5   승차총승객수      int64
 6   하차총승객수      int64
 7   자치구         object
dtypes: int64(4), object(4)
memory usage: 769.3+ MB

In [61]:
# '사용일자' 컬럼 int64 -> datetime 변환
df1['사용일자']= df1['사용일자'].astype('str')
pd.to_datetime(df1['사용일자'])

0          2019-01-01
1          2019-01-01
2          2019-01-01
3          2019-01-01
4          2019-01-01
              ...
12604698   2019-12-31
12604699   2019-12-31
12604700   2019-12-31
12604701   2019-12-31
12604702   2019-12-31
Name: 사용일자, Length: 12604703, dtype: datetime64[ns]

In [62]:
pd.to_datetime(df1['사용일자'])

0          2019-01-01
1          2019-01-01
2          2019-01-01
3          2019-01-01
4          2019-01-01
              ...
12604698   2019-12-31
12604699   2019-12-31
12604700   2019-12-31
12604701   2019-12-31
12604702   2019-12-31
Name: 사용일자, Length: 12604703, dtype: datetime64[ns]

In [63]:
df1['사용일자'] = pd.to_datetime(df1['사용일자'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12604703 entries, 0 to 12604702
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   사용일자        datetime64[ns]
 1   노선번호        object
 2   노선명         object
 3   버스정류장ARS번호  int64
 4   역명          object
 5   승차총승객수      int64
 6   하차총승객수      int64
 7   자치구         object
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 769.3+ MB

In [64]:
df1.head()

        사용일자 노선번호             노선명  버스정류장ARS번호          역명  승차총승객수  하차총승객수  자치구
0 2019-01-01  100  100번(하계동~용산구청)       11428      한성여객종점      10       0  노원구
1 2019-01-01  100  100번(하계동~용산구청)       11387     노원평생학습관       5       0  노원구
2 2019-01-01  100  100번(하계동~용산구청)       11373         중계역      27       1  노원구
3 2019-01-01  100  100번(하계동~용산구청)       11381  중계목화아파트4단지     110      12  노원구
4 2019-01-01  100  100번(하계동~용산구청)       11311        인덕대학      87      76  노원구

In [65]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9523808 entries, 0 to 9523807
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   사용일자        float64
 1   노선번호        object
 2   노선명         object
 3   버스정류장ARS번호  int64
 4   역명          object
 5   승차총승객수      int64
 6   하차총승객수      int64
 7   자치구         object
dtypes: float64(1), int64(3), object(4)
memory usage: 581.3+ MB

In [66]:
# '사용일자' 컬럼 float -> datetime 변환
df2['사용일자'] = df2['사용일자'].apply(lambda x: int(round(x)))
df2.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,자치구
0,20200101,N62,N62번(양천공영차고지~면목동차고지),4133,왕십리역,0,13,성동구
1,20200101,N62,N62번(양천공영차고지~면목동차고지),4136,행당1동주민센터.성동소방서,2,3,성동구
2,20200101,N62,N62번(양천공영차고지~면목동차고지),4186,성동교남단,0,2,성동구
3,20200101,N62,N62번(양천공영차고지~면목동차고지),4256,성수사거리,0,3,성동구
4,20200101,N62,N62번(양천공영차고지~면목동차고지),5115,국립서울병원앞,1,0,광진구

In [67]:
df2['사용일자']= df2['사용일자'].astype('str')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9523808 entries, 0 to 9523807
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   사용일자        object
 1   노선번호        object
 2   노선명         object
 3   버스정류장ARS번호  int64
 4   역명          object
 5   승차총승객수      int64
 6   하차총승객수      int64
 7   자치구         object
dtypes: int64(3), object(5)
memory usage: 581.3+ MB

In [68]:
pd.to_datetime(df2['사용일자'])

0         2020-01-01
1         2020-01-01
2         2020-01-01
3         2020-01-01
4         2020-01-01
             ...
9523803   2020-12-31
9523804   2020-12-31
9523805   2020-12-31
9523806   2020-12-31
9523807   2020-12-31
Name: 사용일자, Length: 9523808, dtype: datetime64[ns]

In [69]:
df2['사용일자'] = pd.to_datetime(df2['사용일자'])
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9523808 entries, 0 to 9523807
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   사용일자        datetime64[ns]
 1   노선번호        object
 2   노선명         object
 3   버스정류장ARS번호  int64
 4   역명          object
 5   승차총승객수      int64
 6   하차총승객수      int64
 7   자치구         object
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 581.3+ MB

In [70]:
df2.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,자치구
0,2020-01-01,N62,N62번(양천공영차고지~면목동차고지),4133,왕십리역,0,13,성동구
1,2020-01-01,N62,N62번(양천공영차고지~면목동차고지),4136,행당1동주민센터.성동소방서,2,3,성동구
2,2020-01-01,N62,N62번(양천공영차고지~면목동차고지),4186,성동교남단,0,2,성동구
3,2020-01-01,N62,N62번(양천공영차고지~면목동차고지),4256,성수사거리,0,3,성동구
4,2020-01-01,N62,N62번(양천공영차고지~면목동차고지),5115,국립서울병원앞,1,0,광진구

In [71]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12701442 entries, 0 to 12701441
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   사용일자        int64
 1   노선번호        object
 2   노선명         object
 3   버스정류장ARS번호  int64
 4   역명          object
 5   승차총승객수      int64
 6   하차총승객수      int64
 7   자치구         object
dtypes: int64(4), object(4)
memory usage: 775.2+ MB

In [72]:
# '사용일자' 컬럼 int64 -> datetime 변환
df3['사용일자']= df3['사용일자'].astype('str')
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12701442 entries, 0 to 12701441
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   사용일자        object
 1   노선번호        object
 2   노선명         object
 3   버스정류장ARS번호  int64
 4   역명          object
 5   승차총승객수      int64
 6   하차총승객수      int64
 7   자치구         object
dtypes: int64(3), object(5)
memory usage: 775.2+ MB

In [73]:
pd.to_datetime(df3['사용일자'])

0          2021-01-01
1          2021-01-01
2          2021-01-01
3          2021-01-01
4          2021-01-01
              ...
12701437   2021-12-31
12701438   2021-12-31
12701439   2021-12-31
12701440   2021-12-31
12701441   2021-12-31
Name: 사용일자, Length: 12701442, dtype: datetime64[ns]

In [74]:
df3['사용일자'] = pd.to_datetime(df3['사용일자'])
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12701442 entries, 0 to 12701441
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   사용일자        datetime64[ns]
 1   노선번호        object
 2   노선명         object
 3   버스정류장ARS번호  int64
 4   역명          object
 5   승차총승객수      int64
 6   하차총승객수      int64
 7   자치구         object
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 775.2+ MB

In [75]:
df3.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,자치구
0,2021-01-01,100,100번(하계동~용산구청),11428,한성여객종점,12,0,노원구
1,2021-01-01,100,100번(하계동~용산구청),11374,서울시립북서울미술관,8,0,노원구
2,2021-01-01,100,100번(하계동~용산구청),11380,목련아파트상가,86,14,노원구
3,2021-01-01,100,100번(하계동~용산구청),11339,월계헬스케어센터,112,44,노원구
4,2021-01-01,100,100번(하계동~용산구청),1002,창경궁.서울대학교병원,21,23,종로구

In [76]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13085501 entries, 0 to 13085500
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   사용일자          int64
 1   노선번호          object
 2   노선명           object
 3   버스정류장ARS번호_x  int64
 4   역명            object
 5   승차총승객수        int64
 6   하차총승객수        int64
 7   표준버스정류장ID     float64
 8   자치구           object
dtypes: float64(1), int64(4), object(4)
memory usage: 898.5+ MB

In [77]:
# '사용일자' 컬럼 int64 -> datetime 변환
df4['사용일자']= df4['사용일자'].astype('str')
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13085501 entries, 0 to 13085500
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   사용일자          object
 1   노선번호          object
 2   노선명           object
 3   버스정류장ARS번호_x  int64
 4   역명            object
 5   승차총승객수        int64
 6   하차총승객수        int64
 7   표준버스정류장ID     float64
 8   자치구           object
dtypes: float64(1), int64(3), object(5)
memory usage: 898.5+ MB

In [78]:
pd.to_datetime(df4['사용일자'])

0          2022-01-01
1          2022-01-01
2          2022-01-01
3          2022-01-01
4          2022-01-01
              ...
13085496   2022-12-31
13085497   2022-12-31
13085498   2022-12-31
13085499   2022-12-31
13085500   2022-12-31
Name: 사용일자, Length: 13085501, dtype: datetime64[ns]

In [79]:
df4['사용일자'] = pd.to_datetime(df4['사용일자'])
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13085501 entries, 0 to 13085500
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   사용일자          datetime64[ns]
 1   노선번호          object
 2   노선명           object
 3   버스정류장ARS번호_x  int64
 4   역명            object
 5   승차총승객수        int64
 6   하차총승객수        int64
 7   표준버스정류장ID     float64
 8   자치구           object
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 898.5+ MB

In [80]:
df4.head()

,사용일자,노선번호,노선명,버스정류장ARS번호_x,역명,승차총승객수,하차총승객수,표준버스정류장ID,자치구
0,2022-01-01,273,273번(중랑차고지~동교동),7550,중랑공영차고지.신내역,1,28,NaN,중랑구
1,2022-01-01,1165,1165번(화계사~미아삼거리역),9291,화계사입구.종점,19,39,NaN,강북구
2,2022-01-01,1165,1165번(화계사~미아삼거리역),9131,우이초등학교후문,53,0,NaN,강북구
3,2022-01-01,1165,1165번(화계사~미아삼거리역),9113,국립419묘지삼거리.윤극영가옥,79,18,NaN,강북구
4,2022-01-01,1165,1165번(화계사~미아삼거리역),9144,신일병원,95,33,NaN,강북구

In [81]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13376494 entries, 0 to 13376493
Data columns (total 9 columns):
 #   Column      Dtype
---  ------      -----
 0   사용일자        int64
 1   노선번호        object
 2   노선명         object
 3   표준버스정류장ID   float64
 4   버스정류장ARS번호  int64
 5   역명          object
 6   승차총승객수      float64
 7   하차총승객수      float64
 8   자치구         object
dtypes: float64(3), int64(2), object(4)
memory usage: 918.5+ MB

In [82]:
df5.head()

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,승차총승객수,하차총승객수,자치구
0,20230101,100,100번(하계동~용산구청),100000002.0,1002,창경궁.서울대학교병원(00031),33.0,47.0,종로구
1,20230101,9401,9401번(구미동~서울역),102000308.0,23850,한남대교(가상)(00028),0.0,17.0,강남구
2,20230101,9401,9401번(구미동~서울역),102000070.0,3164,순천향대학병원(00039),586.0,36.0,용산구
3,20230101,9401,9401번(구미동~서울역),102000069.0,3163,순천향대학병원(00029),43.0,489.0,용산구
4,20230101,9401,9401번(구미동~서울역),101000148.0,2253,명동입구(00037),412.0,55.0,중구

In [83]:
# '사용일자' 컬럼 int64 -> datetime 변환
df5['사용일자']= df5['사용일자'].astype('str')
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13376494 entries, 0 to 13376493
Data columns (total 9 columns):
 #   Column      Dtype
---  ------      -----
 0   사용일자        object
 1   노선번호        object
 2   노선명         object
 3   표준버스정류장ID   float64
 4   버스정류장ARS번호  int64
 5   역명          object
 6   승차총승객수      float64
 7   하차총승객수      float64
 8   자치구         object
dtypes: float64(3), int64(1), object(5)
memory usage: 918.5+ MB

In [84]:
pd.to_datetime(df5['사용일자'])

0          2023-01-01
1          2023-01-01
2          2023-01-01
3          2023-01-01
4          2023-01-01
              ...
13376489   2023-12-31
13376490   2023-12-31
13376491   2023-12-31
13376492   2023-12-31
13376493   2023-12-31
Name: 사용일자, Length: 13376494, dtype: datetime64[ns]

In [85]:
df5['사용일자'] = pd.to_datetime(df5['사용일자'])
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13376494 entries, 0 to 13376493
Data columns (total 9 columns):
 #   Column      Dtype
---  ------      -----
 0   사용일자        datetime64[ns]
 1   노선번호        object
 2   노선명         object
 3   표준버스정류장ID   float64
 4   버스정류장ARS번호  int64
 5   역명          object
 6   승차총승객수      float64
 7   하차총승객수      float64
 8   자치구         object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 918.5+ MB

In [86]:
# '승차총승객수', '하차총승객수' 컬럼 float -> int 변환
df5['승차총승객수'] = df5['승차총승객수'].apply(lambda x: int(round(x)))
df5['하차총승객수'] = df5['하차총승객수'].apply(lambda x: int(round(x)))
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13376494 entries, 0 to 13376493
Data columns (total 9 columns):
 #   Column      Dtype
---  ------      -----
 0   사용일자        datetime64[ns]
 1   노선번호        object
 2   노선명         object
 3   표준버스정류장ID   float64
 4   버스정류장ARS번호  int64
 5   역명          object
 6   승차총승객수      int64
 7   하차총승객수      int64
 8   자치구         object
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 918.5+ MB

In [87]:
# 2019~2023 버스 데이터 merge
combined_bus = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)
combined_bus.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,자치구,버스정류장ARS번호_x,표준버스정류장ID
0,2019-01-01,100,100번(하계동~용산구청),11428.0,한성여객종점,10,0,노원구,NaN,NaN
1,2019-01-01,100,100번(하계동~용산구청),11387.0,노원평생학습관,5,0,노원구,NaN,NaN
2,2019-01-01,100,100번(하계동~용산구청),11373.0,중계역,27,1,노원구,NaN,NaN
3,2019-01-01,100,100번(하계동~용산구청),11381.0,중계목화아파트4단지,110,12,노원구,NaN,NaN
4,2019-01-01,100,100번(하계동~용산구청),11311.0,인덕대학,87,76,노원구,NaN,NaN

In [88]:
combined_bus = combined_bus.drop(columns=['버스정류장ARS번호', '버스정류장ARS번호_x', '표준버스정류장ID'])
combined_bus.head()

        사용일자 노선번호             노선명          역명  승차총승객수  하차총승객수  자치구
0 2019-01-01  100  100번(하계동~용산구청)      한성여객종점      10       0  노원구
1 2019-01-01  100  100번(하계동~용산구청)     노원평생학습관       5       0  노원구
2 2019-01-01  100  100번(하계동~용산구청)         중계역      27       1  노원구
3 2019-01-01  100  100번(하계동~용산구청)  중계목화아파트4단지     110      12  노원구
4 2019-01-01  100  100번(하계동~용산구청)        인덕대학      87      76  노원구

In [89]:
combined_bus.to_csv('bus_seoul.csv', index=False)