In [1]:
import pandas as pd
import numpy as np

##### 기상자료개방포털 강수량 분석

In [2]:
pre19 = pd.read_csv("./2019 강수량분석.csv", encoding='cp949')
pre20 = pd.read_csv("./2020 강수량분석.csv", encoding='cp949')
pre21 = pd.read_csv("./2021 강수량분석.csv", encoding='cp949')
pre22 = pd.read_csv("./2022 강수량분석.csv", encoding='cp949')
pre23 = pd.read_csv("./2023 강수량분석.csv", encoding='cp949')

pre19.head()

           날짜   지점  강수량(mm)
0  2019-01-01  108      NaN
1  2019-01-02  108      NaN
2  2019-01-03  108      NaN
3  2019-01-04  108      NaN
4  2019-01-05  108      NaN

In [3]:
pre = pd.concat([pre19, pre20, pre21, pre22, pre23])
pre.head()

           날짜   지점  강수량(mm)
0  2019-01-01  108      NaN
1  2019-01-02  108      NaN
2  2019-01-03  108      NaN
3  2019-01-04  108      NaN
4  2019-01-05  108      NaN

In [5]:
pre.to_csv("./precipitation_seoul.csv", index=False)

##### 기상자료개방포털 기온 분석
- 폭염: 일 최고기온이 33°C 이상인 날
- 한파: 아침 최저기온(03:01~09:00)이 영하 12도 이하인 날

In [7]:
tem19 = pd.read_csv("./2019 기온분석.csv", encoding='cp949')
tem20 = pd.read_csv("./2020 기온분석.csv", encoding='cp949')
tem21 = pd.read_csv("./2021 기온분석.csv", encoding='cp949')
tem22 = pd.read_csv("./2022 기온분석.csv", encoding='cp949')
tem23 = pd.read_csv("./2023 기온분석.csv", encoding='cp949')

tem19.head()

             날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  \t2019-01-01  108     -5.0     -8.2     -0.6
1  \t2019-01-02  108     -4.9     -8.8      0.2
2  \t2019-01-03  108     -3.5     -8.4      3.2
3  \t2019-01-04  108     -1.1     -6.2      4.1
4  \t2019-01-05  108     -2.8     -5.5      1.1

In [8]:
tem = pd.concat([tem19, tem20, tem21, tem22, tem23])
tem.head()

             날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  \t2019-01-01  108     -5.0     -8.2     -0.6
1  \t2019-01-02  108     -4.9     -8.8      0.2
2  \t2019-01-03  108     -3.5     -8.4      3.2
3  \t2019-01-04  108     -1.1     -6.2      4.1
4  \t2019-01-05  108     -2.8     -5.5      1.1

In [9]:
tem['날짜'] = tem['날짜'].str.replace('\t','')
tem.head()

           날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  2019-01-01  108     -5.0     -8.2     -0.6
1  2019-01-02  108     -4.9     -8.8      0.2
2  2019-01-03  108     -3.5     -8.4      3.2
3  2019-01-04  108     -1.1     -6.2      4.1
4  2019-01-05  108     -2.8     -5.5      1.1

In [10]:
tem.to_csv("./temperature_seoul.csv", index=False)

##### 기상자료개방포털 미세먼지 분석

In [11]:
dust19 = pd.read_csv("./일별평균대기오염도_2019.csv", encoding='cp949')
dust20 = pd.read_csv("./일별평균대기오염도_2020.csv", encoding='cp949')
dust21 = pd.read_csv("./일별평균대기오염도_2021.csv", encoding='cp949')
dust22 = pd.read_csv("./일별평균대기오염도_2022.csv", encoding='cp949')
dust23 = pd.read_csv("./일별평균대기오염도_2023.csv", encoding='cp949')

dust19.head()

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm),미세먼지농도(㎍/㎥),초미세먼지농도(㎍/㎥)
0,20190101,강남구,0.027,0.013,0.6,0.005,35.0,30.0
1,20190101,강남대로,0.040,0.010,0.9,0.004,38.0,26.0
2,20190101,강동구,0.037,0.012,0.7,0.005,40.0,30.0
3,20190101,강변북로,0.045,0.010,0.5,0.005,43.0,26.0
4,20190101,강북구,0.024,0.020,0.6,0.003,44.0,28.0

In [12]:
dust = pd.concat([dust19, dust20, dust21, dust22, dust23])
dust.head()

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm),미세먼지농도(㎍/㎥),초미세먼지농도(㎍/㎥)
0,20190101,강남구,0.027,0.013,0.6,0.005,35.0,30.0
1,20190101,강남대로,0.040,0.010,0.9,0.004,38.0,26.0
2,20190101,강동구,0.037,0.012,0.7,0.005,40.0,30.0
3,20190101,강변북로,0.045,0.010,0.5,0.005,43.0,26.0
4,20190101,강북구,0.024,0.020,0.6,0.003,44.0,28.0

In [13]:
dust.rename(columns={'측정일시':'날짜'}, inplace=True)
dust.head()

,날짜,측정소명,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm),미세먼지농도(㎍/㎥),초미세먼지농도(㎍/㎥)
0,20190101,강남구,0.027,0.013,0.6,0.005,35.0,30.0
1,20190101,강남대로,0.040,0.010,0.9,0.004,38.0,26.0
2,20190101,강동구,0.037,0.012,0.7,0.005,40.0,30.0
3,20190101,강변북로,0.045,0.010,0.5,0.005,43.0,26.0
4,20190101,강북구,0.024,0.020,0.6,0.003,44.0,28.0

In [14]:
# '날짜' 컬럼의 데이터를 날짜 형식으로 변환
dust['날짜'] = pd.to_datetime(dust['날짜'], format='%Y%m%d')
dust['날짜'] = dust['날짜'].dt.strftime('%Y-%m-%d')

dust.head()

,날짜,측정소명,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm),미세먼지농도(㎍/㎥),초미세먼지농도(㎍/㎥)
0,2019-01-01,강남구,0.027,0.013,0.6,0.005,35.0,30.0
1,2019-01-01,강남대로,0.040,0.010,0.9,0.004,38.0,26.0
2,2019-01-01,강동구,0.037,0.012,0.7,0.005,40.0,30.0
3,2019-01-01,강변북로,0.045,0.010,0.5,0.005,43.0,26.0
4,2019-01-01,강북구,0.024,0.020,0.6,0.003,44.0,28.0

In [15]:
dust.to_csv("./dust_seoul.csv", index=False)

In [17]:
# 기온 데이터, 강수량 데이터 합치기
tem = pd.read_csv("./temperature_seoul.csv")
pre = pd.read_csv("./precipitation_seoul.csv")

In [18]:
# 공통된 '날짜' 컬럼을 기준으로 merge
weather = pd.merge(tem, pre, on="날짜")
weather.head()

           날짜  지점_x  평균기온(℃)  최저기온(℃)  최고기온(℃)  지점_y  강수량(mm)
0  2019-01-01   108     -5.0     -8.2     -0.6   108      NaN
1  2019-01-02   108     -4.9     -8.8      0.2   108      NaN
2  2019-01-03   108     -3.5     -8.4      3.2   108      NaN
3  2019-01-04   108     -1.1     -6.2      4.1   108      NaN
4  2019-01-05   108     -2.8     -5.5      1.1   108      NaN

In [19]:
weather.drop(['지점_x', '지점_y'], axis=1, inplace=True)
weather.head()

           날짜  평균기온(℃)  최저기온(℃)  최고기온(℃)  강수량(mm)
0  2019-01-01     -5.0     -8.2     -0.6      NaN
1  2019-01-02     -4.9     -8.8      0.2      NaN
2  2019-01-03     -3.5     -8.4      3.2      NaN
3  2019-01-04     -1.1     -6.2      4.1      NaN
4  2019-01-05     -2.8     -5.5      1.1      NaN

In [20]:
weather.to_csv("./pre_tem_merge.csv", index=False)