In [3]:
import pandas as pd
import numpy as np

In [4]:
# 데이터 불러오기
df = pd.read_csv("./train_seoul.csv")
df.head()

       사용일자    노선명       역명   승차총승객수   하차총승객수            역명2    년도  월  분기
0  20180101    1호선      서울역  40213.0  34505.0        1호선 서울역  2018  1   1
1  20180101  우이신설선     신설동역    699.0    809.0     우이신설선 신설동역  2018  1   1
2  20180101  우이신설선      보문역    754.0    803.0      우이신설선 보문역  2018  1   1
3  20180101  우이신설선  성신여대입구역   2228.0   2276.0  우이신설선 성신여대입구역  2018  1   1
4  20180101  우이신설선      정릉역   1844.0   1685.0      우이신설선 정릉역  2018  1   1

In [5]:
df.dtypes

사용일자        int64
노선명        object
역명         object
승차총승객수    float64
하차총승객수    float64
역명2        object
년도          int64
월           int64
분기          int64
dtype: object

In [6]:
# '사용일자' 컬럼 int64 -> datetime 변환
df['사용일자']= df['사용일자'].astype('str')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703875 entries, 0 to 703874
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   사용일자    703875 non-null  object
 1   노선명     703875 non-null  object
 2   역명      703875 non-null  object
 3   승차총승객수  703875 non-null  float64
 4   하차총승객수  703875 non-null  float64
 5   역명2     703875 non-null  object
 6   년도      703875 non-null  int64
 7   월       703875 non-null  int64
 8   분기      703875 non-null  int64
dtypes: float64(2), int64(3), object(4)
memory usage: 48.3+ MB

In [7]:
pd.to_datetime(df['사용일자'])

0        2018-01-01
1        2018-01-01
2        2018-01-01
3        2018-01-01
4        2018-01-01
            ...
703870   2024-03-31
703871   2024-03-31
703872   2024-03-31
703873   2024-03-31
703874   2024-03-31
Name: 사용일자, Length: 703875, dtype: datetime64[ns]

In [8]:
df['사용일자'] = pd.to_datetime(df['사용일자'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703875 entries, 0 to 703874
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   사용일자    703875 non-null  datetime64[ns]
 1   노선명     703875 non-null  object
 2   역명      703875 non-null  object
 3   승차총승객수  703875 non-null  float64
 4   하차총승객수  703875 non-null  float64
 5   역명2     703875 non-null  object
 6   년도      703875 non-null  int64
 7   월       703875 non-null  int64
 8   분기      703875 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 48.3+ MB

In [9]:
df.head()

        사용일자    노선명       역명   승차총승객수   하차총승객수            역명2    년도  월  분기
0 2018-01-01    1호선      서울역  40213.0  34505.0        1호선 서울역  2018  1   1
1 2018-01-01  우이신설선     신설동역    699.0    809.0     우이신설선 신설동역  2018  1   1
2 2018-01-01  우이신설선      보문역    754.0    803.0      우이신설선 보문역  2018  1   1
3 2018-01-01  우이신설선  성신여대입구역   2228.0   2276.0  우이신설선 성신여대입구역  2018  1   1
4 2018-01-01  우이신설선      정릉역   1844.0   1685.0      우이신설선 정릉역  2018  1   1

In [10]:
# '승차총승객수', '하차총승객수' 컬럼 float -> int 변환
df['승차총승객수'] = df['승차총승객수'].astype(int)
df['하차총승객수'] = df['하차총승객수'].astype(int)

In [11]:
df.dtypes

사용일자      datetime64[ns]
노선명               object
역명                object
승차총승객수             int32
하차총승객수             int32
역명2               object
년도                 int64
월                  int64
분기                 int64
dtype: object

In [12]:
# 2019~2023 데이터만 추출
df = df[(df['사용일자'] >= '2019-01-01') & (df['사용일자'] <= '2023-12-31')]
df.head()

             사용일자  노선명      역명  승차총승객수  하차총승객수         역명2    년도  월  분기
129891 2019-01-01  2호선  을지로4가역    3862    3728  2호선 을지로4가역  2019  1   1
129892 2019-01-01  2호선  을지로3가역    8104    7554  2호선 을지로3가역  2019  1   1
129893 2019-01-01  2호선  을지로입구역   22478   21330  2호선 을지로입구역  2019  1   1
129894 2019-01-01  2호선     시청역    8381    6049     2호선 시청역  2019  1   1
129895 2019-01-01  1호선    동묘앞역    8045    8504    1호선 동묘앞역  2019  1   1

In [13]:
# '사용일자' 컬럼명 변경
df = df.rename(columns={'사용일자':'날짜'})
df.head()

               날짜  노선명      역명  승차총승객수  하차총승객수         역명2    년도  월  분기
129891 2019-01-01  2호선  을지로4가역    3862    3728  2호선 을지로4가역  2019  1   1
129892 2019-01-01  2호선  을지로3가역    8104    7554  2호선 을지로3가역  2019  1   1
129893 2019-01-01  2호선  을지로입구역   22478   21330  2호선 을지로입구역  2019  1   1
129894 2019-01-01  2호선     시청역    8381    6049     2호선 시청역  2019  1   1
129895 2019-01-01  1호선    동묘앞역    8045    8504    1호선 동묘앞역  2019  1   1

In [14]:
df = df.drop(columns=['년도','월','분기'])
df.head()

               날짜  노선명      역명  승차총승객수  하차총승객수         역명2
129891 2019-01-01  2호선  을지로4가역    3862    3728  2호선 을지로4가역
129892 2019-01-01  2호선  을지로3가역    8104    7554  2호선 을지로3가역
129893 2019-01-01  2호선  을지로입구역   22478   21330  2호선 을지로입구역
129894 2019-01-01  2호선     시청역    8381    6049     2호선 시청역
129895 2019-01-01  1호선    동묘앞역    8045    8504    1호선 동묘앞역

In [15]:
df.to_csv("./subway_seoul.csv", index=False)

역주소 및 전화번호 데이터 병합

In [17]:
add = pd.read_csv("./서울교통공사 역주소 및 전화번호_20230831.csv", encoding='cp949')
add.head()

,연번,역번호,호선,역명,역전화번호,도로명주소,지번주소
0,1,150,1,서울,02-6110-1331,서울특별시 중구 세종대로 지하2(남대문로 5가),서울특별시 중구 남대문로5가 73-6 서울역(1호선)
1,2,151,1,시청,02-6110-1321,서울특별시 중구 세종대로 지하101(정동),서울특별시 중구 정동 5-5 시청역(1호선)
2,3,152,1,종각,02-6110-1311,서울특별시 종로구 종로 지하55(종로1가),서울특별시 종로구 종로1가 54 종각역(1호선)
3,4,153,1,종로3가,02-6110-1301,서울특별시 종로구 종로 지하129(종로3가),서울특별시 종로구 종로3가 10-5 종로3가역(1호선)
4,5,154,1,종로5가,02-6110-1291,서울특별시 종로구 종로 지하216(종로5가),서울특별시 종로구 종로5가 82-1 종로5가역(1호선)

In [18]:
# '역명' 컬럼의 각 값을 문자열로 변환 후 뒤에 '역' 붙이기
add['역명'] = add['역명'].astype(str) + '역'
add.head()

,연번,역번호,호선,역명,역전화번호,도로명주소,지번주소
0,1,150,1,서울역,02-6110-1331,서울특별시 중구 세종대로 지하2(남대문로 5가),서울특별시 중구 남대문로5가 73-6 서울역(1호선)
1,2,151,1,시청역,02-6110-1321,서울특별시 중구 세종대로 지하101(정동),서울특별시 중구 정동 5-5 시청역(1호선)
2,3,152,1,종각역,02-6110-1311,서울특별시 종로구 종로 지하55(종로1가),서울특별시 종로구 종로1가 54 종각역(1호선)
3,4,153,1,종로3가역,02-6110-1301,서울특별시 종로구 종로 지하129(종로3가),서울특별시 종로구 종로3가 10-5 종로3가역(1호선)
4,5,154,1,종로5가역,02-6110-1291,서울특별시 종로구 종로 지하216(종로5가),서울특별시 종로구 종로5가 82-1 종로5가역(1호선)

In [19]:
add = add.drop(columns=['연번','역번호'])
add.head()

,호선,역명,역전화번호,도로명주소,지번주소
0,1,서울역,02-6110-1331,서울특별시 중구 세종대로 지하2(남대문로 5가),서울특별시 중구 남대문로5가 73-6 서울역(1호선)
1,1,시청역,02-6110-1321,서울특별시 중구 세종대로 지하101(정동),서울특별시 중구 정동 5-5 시청역(1호선)
2,1,종각역,02-6110-1311,서울특별시 종로구 종로 지하55(종로1가),서울특별시 종로구 종로1가 54 종각역(1호선)
3,1,종로3가역,02-6110-1301,서울특별시 종로구 종로 지하129(종로3가),서울특별시 종로구 종로3가 10-5 종로3가역(1호선)
4,1,종로5가역,02-6110-1291,서울특별시 종로구 종로 지하216(종로5가),서울특별시 종로구 종로5가 82-1 종로5가역(1호선)

In [20]:
# '호선' 컬럼의 각 값을 문자열로 변환 후 뒤에 '호선' 붙이기
add['호선'] = add['호선'].astype(str) + '호선'
add.head()

,호선,역명,역전화번호,도로명주소,지번주소
0,1호선,서울역,02-6110-1331,서울특별시 중구 세종대로 지하2(남대문로 5가),서울특별시 중구 남대문로5가 73-6 서울역(1호선)
1,1호선,시청역,02-6110-1321,서울특별시 중구 세종대로 지하101(정동),서울특별시 중구 정동 5-5 시청역(1호선)
2,1호선,종각역,02-6110-1311,서울특별시 종로구 종로 지하55(종로1가),서울특별시 종로구 종로1가 54 종각역(1호선)
3,1호선,종로3가역,02-6110-1301,서울특별시 종로구 종로 지하129(종로3가),서울특별시 종로구 종로3가 10-5 종로3가역(1호선)
4,1호선,종로5가역,02-6110-1291,서울특별시 종로구 종로 지하216(종로5가),서울특별시 종로구 종로5가 82-1 종로5가역(1호선)

In [21]:
add['역명2'] = add['호선'] + ' ' + add['역명']
add.head()

,호선,역명,역전화번호,도로명주소,지번주소,역명2
0,1호선,서울역,02-6110-1331,서울특별시 중구 세종대로 지하2(남대문로 5가),서울특별시 중구 남대문로5가 73-6 서울역(1호선),1호선 서울역
1,1호선,시청역,02-6110-1321,서울특별시 중구 세종대로 지하101(정동),서울특별시 중구 정동 5-5 시청역(1호선),1호선 시청역
2,1호선,종각역,02-6110-1311,서울특별시 종로구 종로 지하55(종로1가),서울특별시 종로구 종로1가 54 종각역(1호선),1호선 종각역
3,1호선,종로3가역,02-6110-1301,서울특별시 종로구 종로 지하129(종로3가),서울특별시 종로구 종로3가 10-5 종로3가역(1호선),1호선 종로3가역
4,1호선,종로5가역,02-6110-1291,서울특별시 종로구 종로 지하216(종로5가),서울특별시 종로구 종로5가 82-1 종로5가역(1호선),1호선 종로5가역

In [23]:
# 데이터 불러오기
df = pd.read_csv("./subway_seoul.csv")

In [24]:
# '역명' 컬럼을 기준으로 두 데이터프레임을 합치기
merged_df = pd.merge(df, add, on='역명2')
merged_df.head()

,날짜,노선명,역명_x,승차총승객수,하차총승객수,역명2,호선,역명_y,역전화번호,도로명주소,지번주소
0,2019-01-01,2호선,을지로4가역,3862,3728,2호선 을지로4가역,2호선,을지로4가역,02-6110-2041,서울특별시 중구 을지로 지하178(을지로4가),서울특별시 중구 을지로4가 267-1 을지로4가역(2호선)
1,2019-01-01,2호선,을지로3가역,8104,7554,2호선 을지로3가역,2호선,을지로3가역,02-6110-2031,서울특별시 중구 을지로 지하106(을지로3가),서울특별시 중구 을지로3가 347-3 을지로3가역(2호선)
2,2019-01-01,2호선,을지로입구역,22478,21330,2호선 을지로입구역,2호선,을지로입구역,02-6110-2021,서울특별시 중구 을지로 지하42(을지로1가),서울특별시 중구 을지로1가 100-1 을지로입구역(2호선)
3,2019-01-01,2호선,시청역,8381,6049,2호선 시청역,2호선,시청역,02-6110-2011,서울특별시 중구 서소문로 지하127(서소문동),서울특별시 중구 서소문동 90-1 시청역(2호선)
4,2019-01-01,1호선,동묘앞역,8045,8504,1호선 동묘앞역,1호선,동묘앞역,02-6110-1271,서울특별시 종로구 종로 359(숭인동),서울특별시 종로구 숭인동 117 동묘앞역(1호선)

In [25]:
merged_df = merged_df.drop(columns=['역명_y','노선명'])
merged_df.head()

,날짜,역명_x,승차총승객수,하차총승객수,역명2,호선,역전화번호,도로명주소,지번주소
0,2019-01-01,을지로4가역,3862,3728,2호선 을지로4가역,2호선,02-6110-2041,서울특별시 중구 을지로 지하178(을지로4가),서울특별시 중구 을지로4가 267-1 을지로4가역(2호선)
1,2019-01-01,을지로3가역,8104,7554,2호선 을지로3가역,2호선,02-6110-2031,서울특별시 중구 을지로 지하106(을지로3가),서울특별시 중구 을지로3가 347-3 을지로3가역(2호선)
2,2019-01-01,을지로입구역,22478,21330,2호선 을지로입구역,2호선,02-6110-2021,서울특별시 중구 을지로 지하42(을지로1가),서울특별시 중구 을지로1가 100-1 을지로입구역(2호선)
3,2019-01-01,시청역,8381,6049,2호선 시청역,2호선,02-6110-2011,서울특별시 중구 서소문로 지하127(서소문동),서울특별시 중구 서소문동 90-1 시청역(2호선)
4,2019-01-01,동묘앞역,8045,8504,1호선 동묘앞역,1호선,02-6110-1271,서울특별시 종로구 종로 359(숭인동),서울특별시 종로구 숭인동 117 동묘앞역(1호선)

In [26]:
# '역명_x' 컬럼명 변경
merged_df.rename(columns={'역명_x':'역명'}, inplace=True)
merged_df.head()

,날짜,역명,승차총승객수,하차총승객수,역명2,호선,역전화번호,도로명주소,지번주소
0,2019-01-01,을지로4가역,3862,3728,2호선 을지로4가역,2호선,02-6110-2041,서울특별시 중구 을지로 지하178(을지로4가),서울특별시 중구 을지로4가 267-1 을지로4가역(2호선)
1,2019-01-01,을지로3가역,8104,7554,2호선 을지로3가역,2호선,02-6110-2031,서울특별시 중구 을지로 지하106(을지로3가),서울특별시 중구 을지로3가 347-3 을지로3가역(2호선)
2,2019-01-01,을지로입구역,22478,21330,2호선 을지로입구역,2호선,02-6110-2021,서울특별시 중구 을지로 지하42(을지로1가),서울특별시 중구 을지로1가 100-1 을지로입구역(2호선)
3,2019-01-01,시청역,8381,6049,2호선 시청역,2호선,02-6110-2011,서울특별시 중구 서소문로 지하127(서소문동),서울특별시 중구 서소문동 90-1 시청역(2호선)
4,2019-01-01,동묘앞역,8045,8504,1호선 동묘앞역,1호선,02-6110-1271,서울특별시 종로구 종로 359(숭인동),서울특별시 종로구 숭인동 117 동묘앞역(1호선)

In [27]:
# 공백을 기준으로 문자열 분할
merged_df['도로명주소'].str.split(" ")

0           [서울특별시, 중구, 을지로, 지하178(을지로4가)]
1           [서울특별시, 중구, 을지로, 지하106(을지로3가)]
2            [서울특별시, 중구, 을지로, 지하42(을지로1가)]
3           [서울특별시, 중구, 서소문로, 지하127(서소문동)]
4               [서울특별시, 종로구, 종로, 359(숭인동)]
                        ...
309188       [서울특별시, 종로구, 종로, 지하129(종로3가)]
309189        [서울특별시, 종로구, 종로, 지하55(종로1가)]
309190        [서울특별시, 중구, 세종대로, 지하101(정동)]
309191    [서울특별시, 중구, 세종대로, 지하2(남대문로, 5가)]
309192       [서울특별시, 마포구, 백범로, 지하200(공덕동)]
Name: 도로명주소, Length: 309193, dtype: object

In [28]:
# expand=True 옵션으로 리스트를 프레임으로 변경
merged_df['도로명주소'].str.split(" ", expand=True)

            0    1     2             3     4     5
0       서울특별시   중구   을지로  지하178(을지로4가)  None  None
1       서울특별시   중구   을지로  지하106(을지로3가)  None  None
2       서울특별시   중구   을지로   지하42(을지로1가)  None  None
3       서울특별시   중구  서소문로   지하127(서소문동)  None  None
4       서울특별시  종로구    종로      359(숭인동)  None  None
...       ...  ...   ...           ...   ...   ...
309188  서울특별시  종로구    종로   지하129(종로3가)  None  None
309189  서울특별시  종로구    종로    지하55(종로1가)  None  None
309190  서울특별시   중구  세종대로     지하101(정동)  None  None
309191  서울특별시   중구  세종대로      지하2(남대문로   5가)  None
309192  서울특별시  마포구   백범로    지하200(공덕동)  None  None

[309193 rows x 6 columns]

In [29]:
merged_df["자치구"] = merged_df["도로명주소"].str.split(" ", expand=True)[1]
merged_df.head()

,날짜,역명,승차총승객수,하차총승객수,역명2,호선,역전화번호,도로명주소,지번주소,자치구
0,2019-01-01,을지로4가역,3862,3728,2호선 을지로4가역,2호선,02-6110-2041,서울특별시 중구 을지로 지하178(을지로4가),서울특별시 중구 을지로4가 267-1 을지로4가역(2호선),중구
1,2019-01-01,을지로3가역,8104,7554,2호선 을지로3가역,2호선,02-6110-2031,서울특별시 중구 을지로 지하106(을지로3가),서울특별시 중구 을지로3가 347-3 을지로3가역(2호선),중구
2,2019-01-01,을지로입구역,22478,21330,2호선 을지로입구역,2호선,02-6110-2021,서울특별시 중구 을지로 지하42(을지로1가),서울특별시 중구 을지로1가 100-1 을지로입구역(2호선),중구
3,2019-01-01,시청역,8381,6049,2호선 시청역,2호선,02-6110-2011,서울특별시 중구 서소문로 지하127(서소문동),서울특별시 중구 서소문동 90-1 시청역(2호선),중구
4,2019-01-01,동묘앞역,8045,8504,1호선 동묘앞역,1호선,02-6110-1271,서울특별시 종로구 종로 359(숭인동),서울특별시 종로구 숭인동 117 동묘앞역(1호선),종로구

In [30]:
merged_df.to_csv("./subway_seoul(+address).csv", index=False)